/* Alapértelmezett menü elrendezés */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


nav a {
  margin-left: 20px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-wrap: wrap;            
    justify-content: space-between;
    padding: 10px 0;
    text-align: center;
  }

  nav a {
    flex: 1 1 45%;              
    margin: 5px 0;              
    text-align: right;
    padding: 8px 0;
    font-size: 14px;
    white-space: nowrap;         
  }
}